
    .header{
      padding:5px;
      display:flex;
      justify-content: space-between;
      background-color: orange;
      color: white;
    }
    .footer{
      background-color: aqua;
      color:blue;
    }
    body{
      margin:0px;
    }
    .container{
      margin:0px;
    }
    *{
      margin:0px;
    }
    .menu{
       display:flex;
      /*to get into one line */
    }
    .menu li{
      list-style:none;
      margin:5px;
    }
    .menu li a{
      text-decoration:none;
      color:white;
    }